@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles.css';

body {
    margin: 0;
    overflow-y: scroll !important;
    z-index: 0 !important;
}

body, .navbar {
    padding: 0 !important;
}

main {
    padding-top: 100px;
}

.special-day {
    background-color: #4d4c4c;
}

tbody > tr.myRow:last-child td, tbody > tr.myRow:last-child th {
    border: 0;
}

.table-schedule-row-shift:first-child {
    margin-top: 0 !important;
}

.table-schedule-row-shift {
    margin-top: 5px !important;
}

.rbc-header.rbc-today * > span:after {
    content: " (Today)";
}

/*.rbc-header.rbc-today *> span{*/
/*    color: aquamarine!important;*/
/*}*/

.rbc-allday-cell {
    display: none;
}

.rbc-time-view .rbc-header {
    border-bottom: none;
}

.rbc-header {
    background-color: #121212 !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)) !important;
}

.rbc-header:last-child {
    border-radius: 0 5px 0 0;
}


.rbc-time-view{
    border-radius: 5px;
    overflow: hidden;
}

.rbc-day-slot .rbc-timeslot-group:last-child {
    border-color: aquamarine!important;
}

.cap {
    text-transform: lowercase;
}

.cap:first-letter {
    text-transform: uppercase;
}
